body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
}

.section {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0b400e;
}